p {
	color: #cc6600;
	text-align: justify;
	font-family: calibri, verdana, comic sans, tahoma;
	font-size: 12pt;
}

body {
	background-color: khaki;
	background-image: url('../images/thetruth.jpg');
	background-repeat: no-repeat;
	background-position: top right;
	background-attachment: fixed;
	margin: 0cm 3cm; /* margin-top&bottom=0cm, margin-left&right=3cm */
}

hr {
	border-width: 3px;
	border-color: #990000;
	border-style: dotted;
}

/* grouping */
fieldset, legend {
	border: green groove 10px;
	border-radius: 10px;
}

legend {
	padding: 10px;
	background-color: white;
	color: red;
	font-weight: bold;
	font-size: 14pt;
	text-transform: uppercase;
	font-family: ubuntu, calibri;
	letter-spacing: 5px;
}

table {
	border: 10px ridge maroon;
	margin: center;
}

td {
	padding: 5px;
	border: 1px solid green;
}

ul {
	list-style-image: url("../images/thetruth.jpg");
}

ol {
	list-style-image: url("../images/thetruth.jpg");
}

ul.hobi {
	list-style-image: url("../images/thetruth.jpg");
}

ol.menu {
	list-style-image: url("../images/thetruth.jpg");
}

/* pseudo class serta id & class */
div#menu {
	text-align: center;
	font-family: ubuntu, calibri, tahoma, jokerman;
	padding: 10px;
}

a.item:active, a.item:link, alitem:visited {
	text-decoration: none;
	font-size: 14pt;
	color: b8860b;
	border: 2px solid #fffacd;
	padding: 5px;
	background-color: #ffd700;
}

a.item:hover {
	text-decoration: none;
	font-size: 14pt;
	color: red;
	border: 2px solid greenyellow;
	padding: 5px;
	background-color: yellowgreen;
}

/* pseudo element */
p.p3:first-letter {
	color: red;
	font-size: 16pt;
	font-weight: bold;
	font-family: algerian, jokerman;
	float: left;
}

p.p3:first-line {
	color: green;
	font-style: italic;
}

#atas, #bawah {
	text-align: right;
}

h1 {
	text-shadow: 3px 3px yellowgreen;
	color: greenyellow;
}